.call_to_action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12vw;
  background-color: $background-secondary;
  width: 100%;
  padding: 3vw 2vw;
  color: $color-text-primary;

  @media screen and (max-width: 992px) {
    flex-direction: column;
    text-align: center;
  }

  h3 {
    font-size: $font-basic-size * 3;
  }

  p {
    margin-top: 25px;
  }
  input {
    padding: 13px 4px;
    font-size: $font-basic-size * 1.6;
    font-family: $font-family-text;
    font-weight: 600;
    border: none;
  }
}
