.app_widget_notification {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed black;
  padding: 6px;
  margin-bottom: 10px;

  &__icon {
    width: 35px;
    margin-right: 10px;

    img {
      width: 150%;
    }
  }

  &__message {
    font-size: $font-basic-size * 2;
    width: 100%;
    margin: 0 20px;
  }

  &__close {
    width: 20px;
    align-self: flex-start;
    cursor: pointer;

    img {
      width: 100%;
    }
  }
}
