.app_returning_user {
  display: flex;
  flex-direction: column;
  padding: 60px;
  width: 80%;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &__top_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }

    &__notification {
      flex-direction: column;
    }

    &__add_item {
      display: flex;

      @media screen and (max-width: 1200px) {
        margin-bottom: 30px;
      }
    }
  }
}
