.app_returning_user {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 60px;

  &__top_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__notification {
      flex-direction: column;
    }
  }
}
