.primaryButton {
  padding: 13px 30px;
  font-size: $font-basic-size * 1.6;
  background-color: $color-highlights-buttons;
  border: none;
  color: $color-text-primary;
  font-family: $font-family-text;
  font-weight: 600;
  cursor: pointer;
}
