.carousel {
  position: relative;
  width: 100vw;

  &__wrapper {
    display: flex;

    &_arrows {
      position: absolute;
      width: 100vw;
      height: 100%;
      top: 0;
      left: 0;

      &_arrow {
        position: absolute;
        width: 50px;
        height: 50px;
        transform: translateY(-50%);
        top: 50%;
        cursor: pointer;
        z-index: 100;
        background-image: url("../../assets/arrowLeft.png");
        background-repeat: no-repeat;
        background-size: contain;
        &-right {
          right: 0;
          background-image: url("../../assets/arrowRight.png");
        }
      }
    }

    &_element {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: $font-basic-size * 3;
      width: 100vw;
      height: 100%;
      text-align: center;
      padding: 150px 250px;
    }
  }
}
