body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: url("../../assets/background.png");
  background-size: contain;
  background-repeat: repeat;
  font-family: $font-family-text;
  font-size: $font-basic-size * 1.5;
}
