//colors
$background-nav: #5b605f; // - side panel, nav
$color-text-header-columns: #4a4a49; //  - header, the color of the text in the column
$color-highlights-buttons: #ff6600; // - buttons, highlights, smaller headers
$background-primary: #fffffa; //- background color
$color-text-info: #3498db; //- info message color,
$color-text-warning: #ffb03b; // - warning message color
$color-text-success: #468966; // - success message color
$color-icon-bin: #bd4932; // - bin icon color
$color-text-table: #a1a194; // - color of text from rows in tables, icons of extended functions
$color-logo-first: white;
$color-logo-second: #e58a20;
//fonts

$font-family-logo: "Charmonman", cursive;
$font-family-text: "Open Sans", sans-serif;
$font-basic-size: 14px;
